<% if (post.prev || post.next) { %>
<nav class="post-nav">
    <% if (post.prev) { %>
    <div class="prev">
        <a href="<%- url_for(post.prev.path) %>" id="post-prev" class="post-nav-link">
            <b class="tips"><%- __('Prev post') %></b>
            <h4 class="title"><%= post.prev.title || '[no title]' %></h4>
        </a>
    </div>
    <% } %>
    <% if (post.next) { %>
    <div class="next">
        <a href="<%- url_for(post.next.path) %>" id="post-next" class="post-nav-link">
            <b class="tips"><%- __('Next post') %></b>
            <h4 class="title"><%= post.next.title || '[no title]' %></h4>
        </a>
    </div>
    <% } %>
</nav>
<% } %>
