<% if (post.prev || post.next) { %>
<nav class="post-nav flex-row flex-justify-between<% if(!post.prev){ %> flex-row-reverse<% } %>">
    <% if (post.prev) { %>
    <div class="prev">
        <a href="<%- url_for(post.prev.path) %>" id="post-prev" class="post-nav-link">
            <div class="tips"><%- __('Prev post') %></div>
            <h4 class="title"><%= post.prev.title || '[no title]' %></h4>
        </a>
    </div>
    <% } %>
    <% if (post.next) { %>
    <div class="next">
        <a href="<%- url_for(post.next.path) %>" id="post-next" class="post-nav-link">
            <div class="tips"><%- __('Next post') %></div>
            <h4 class="title"><%= post.next.title || '[no title]' %></h4>
        </a>
    </div>
    <% } %>
</nav>
<% } %>
