<%- partial('_partial/common/head') %>
<div id="main">
    <div id="wrap">
        <section class="container">
            <%- body %>
        </section>
    </div>
    <%- cli() %>
</div>
<%- partial('_partial/model/site-info') %>
<%- partial('_partial/model/scripts') %>
<%- partial('_partial/common/foot') %>