<%- partial('partial/head') %>
<div class="main" ref="main">
    <div class="wrap" ref="wrap">
        <section class="container" ref="container">
            <%- body %>
        </section>
    </div>
    <%- cli() %>
</div>
<%- partial('partial/scripts') %>
<%- partial('partial/foot') %>