<div id="site-info" class="site-info">
    <span id="site-info-creativecommons">
        <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
                    alt="<%- __('Creative Commons License') %>" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"/></a> <%- __('This work is licensed under a ') %>
        <a target="_blank" rel="license"
           href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><%- __('Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License') %></a>
    </span>
    <span id="site-info-copyright-icp-theme">
        <%- config.author %> &copy;
        <% if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) { %>
        <%- theme.since_year %> -
        <% } %>
        <%- date(new Date(), 'YYYY') %>
        <% if(theme.ICP_license) { %>
        <a href="http://www.miitbeian.gov.cn/" target="_blank"><%- theme.ICP_license %></a><br>
        <% } %>
        Power by <a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a
                href="<%- config.root %>" target="_blank">cosh</a>
    </span>
</div>